p {
    font-family: "Arial";
}

body {
    margin: 0;
    background-color: beige;
    padding-top: 50px;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #333333;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    border-radius: 0;
    position: fixed;
    font-size: large;
    color: beige;
    padding-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
}

div {
    display: flex;
    flex-direction: column;
    /*border: 2px solid #ffff33;*/
    border-radius: 10px;
    margin: 5px;
    justify-content: center;

}

#lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list_div {
    background-color: rgba(36, 52, 52, 0.89);
    /*background-color: #333333;*/
    border-radius: 10px;
    margin: 10px;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    padding: 0.5%;
    font-family: Arial;
    box-shadow: 13px 8px 42px -3px rgba(0,0,0,0.75);
}
.list_div > h4 {
    color: beige;

}

.list_content {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

.card_header_div {
    background-color: #ffff00;
    margin: 0;
    padding: 0.5%;
    /*justify-content: center;*/
    right: 0;

}

.note {
    background-color: #ffff66;
    margin: 5px;
    display: inline-table;
    flex-direction: column;
    width: 120px;
    height: 85px;
    text-align: center;
    padding: 0.5%;
    /*justify-content: center;*/

}

/*.note > p {*/
    /*display: inline-block;*/
/*}*/


